@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 80%;
    margin: auto;
    height: 10vh;
    align-items: center;

}

.logo,
.nav-links,
.cart {
    display: flex;

}

.logo {
    flex: 1;
    font-weight: 400;
    justify-content: center;
}

nav {
    display: flex;
    flex: 1;
}

.cart {
    flex: 1;
    justify-content: center;
}

.nav-links {
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #454545;
    text-decoration: none;
}